/*
 * Customize CSS by GaryNg
 */


/*
 * Sidebar BETA!
 *
 */
.sidebar-beta {
	font-size: 0.2em;
	font-family: serif;
}


/* 
 * Post info
 *
 * The footer of the post
 */
.post-info {
  color: #999;
  font-style: italic;
}

/* 
 * Post navigation
 *
 * Next and previous link at the bottom of the post
 */
.post-nav-prev{
  float:left;
}

.post-nav-next{
  float:right;
}

/*
 * Tags under post metadata
 *
 */
.post-tags a {
  color: #9a9a9a;
}


/* Meta data line below post title */
.post-date,.post-comments-count, .post-comments {
  display: inline;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}


/* 
 * Tags
 *
 * Style for tags-link
 */
a.tags-link{
  color: #717171;
  background-color: #f9f9f9;
  padding: 0 0.5em;
}

/* 
 * Info Date 
 *
 * The info date style inside post excerpt
 */
info {
  display: inline-block;
  padding-right: 0.5em;
  color: #999;
  font-style: italic;
}
